.header {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .navbar {
    display: flex;
    font-size: 25px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 60px;
  }
  
  .nav-link:hover {
    color: #ffcc00;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-icon {
    margin-right: 8px;
  }
  
  .upload-form {
    transform: scale(1.5);
    position: fixed;
    top: 80px;
    left: 100px;
    width: auto;
    background-color: antiquewhite;
    padding: 10px;
    z-index: 999;
    box-shadow: black 4px 3px 10px;
    border-radius: 10px;
  }
  
  
  .upload-form input[type='file'] {
    display: block;
    margin-bottom: 10px;
  }
  
  .upload-form button {
    width: 45%;
    padding: 6px 10px;
  }
   
  .selected-file {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
  }

  .modal-mail-content {
    padding: 20px;
    width: 80%;
  }
  
  .document-select {
    width: 100%;
    height: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .send-button,
  .close-mail-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .send-button:hover,
  .close-button:hover {
    background-color: #555;
  }
  
  .email-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  