.document-grid-container {
  padding: 20px;
}

.document-grid {
  margin-top: 6%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 20px;
}

.document-item {
  width: 200px;
  background-color: antiquewhite;
  border-radius: 10%;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: black 4px 3px 10px;
}

.document-item:hover {
  transform: scale(1.2);
}

.document-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  font-size: xx-large;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  max-width: 100%;
  text-align: center;
  border-radius: 10%;
  box-shadow: black 30px 30px 100px;
}

.modal h3 {
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
  font-size: 25px;
}

.erase-button,
.download-button {
  width: 40%;
  margin: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.erase-button {
  background-color: rgb(219, 25, 25);
}

.modal-close-button {
  position: absolute;
  width: 80px;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-icon {
  color: red;
  font-size: 80px;
}

.erase-button {
  background-color: rgb(219, 25, 25);
  transition: transform 0.3s ease;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.download-button {
  display: inline-block;
  text-decoration: none;
  background-color: green;
  transition: transform 0.3s ease;
  font-size: 20px;
  font-weight: bold;
}

.erase-button:hover,
.download-button:hover {
  transform: scale(1.1);
  box-shadow: black 4px 3px 10px;
}